<%= render 'banner' %>
<h2 class="text-center banner-show">Brewery List</h2>


<div class="container">
  <div class="row">
    <% @breweries.each do |brewery| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <div class="card-location"><%= brewery.location %>
          </div>
          <div class="card-name"><%= brewery.name %>
          </div>
          <%= cl_image_tag(brewery.photo.path, :class => "card-logo avatar")%>
          <a class="card-link" href="<%= brewery_path(brewery) %>"></a>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="text-center padded">
  <%= link_to "Add a brewery", new_brewery_path, class: "btn btn-primary" %>
</div>

<%= render 'footer' %>
