<div class="container text-center padded banner-show">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <h1><%= @brewery.name %></h1>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= cl_image_tag(@brewery.photo.path, :class => "avatar-xl")%>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul>
        <% @brewery.beers.each do |beer| %>
        <h3><%= beer.name %></h3>
          <li>Style: <%= link_to beer.style.name, style_path(beer.style) %></li>
          <li>Description: <%= beer.description %></li>
          <%= link_to "Delete", brewery_beer_path(@brewery, beer), method: "delete" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h4>Add a Beer !</h4>
      <%= render 'beer_form' %>
    </div>
  </div>
</div>


<%= render 'footer' %>
